/*
Colors:
  Text: 1A1A1A
  Green: #00B172
  White: #FFF
Font:
  Family: Spotify Circular 
  Also include: Helvetica, Arial, sans-serif
  Similar to Spotify Circular: 
    Montserrat, 
    Gotham Medium, 
    Raleway, 
    Proxima Nova, Proxima Sans, 
    LL Circular
*/

/* reset */
html, body {
  margin: 0;
  padding: 0;
}

/* flex rules */

.flex-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-r {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}

/* font & text */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

body {
  background: #fff;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: #000;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 5em;
  margin: 0.2em 0;
}

h2 {
  font-size: 2.5em;
  font-weight: normal;
  text-decoration: underline;
  text-decoration-color: #fff;
  text-underline-offset: 0.5em;
}

#info h2 {
  text-decoration-color: #00B172;
}

h3 {
  font-size: 1.5em;
}

p {
  width: 50%;
}

#hero p {
  font-size: 1.7em;
  margin: 0.2em 0;
}

#hero, #example {
  color: #fff;
}

#info h3 {
  color: #00B172;
}

/* header and nav styling */
header {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  background-color: #fff;
}

header .img-wrapper {
  flex-basis: 15%;
}

header .img-wrapper > img {
  width: 100%;
}

nav {
  flex-basis: 20%;
  margin-right: 2%;
}

nav > ul {
  list-style-type: none;
}

nav li, a:-webkit-any-link {
  text-decoration: none;
  color: #000;
}

.nav-wrapper, nav > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* sections styling */
#hero {
  background-image: url("../images/landing.jpg");
  background-size: cover;
  text-align: center;
}

#hero {
  min-height: 100vh;
  width: 100vw;
}

#info {
  min-height: 50vh;
  width: 100vw;
  text-align: center;
}

#info img {
  width: 25%;
}

article {
  padding: 3em 0;
  width: 100%;
}

.color-container {
  position: relative;
  background-color: #00B172;
  width: 95%;
}

/* section#example {
  height: 100vh;
} */

#example .img-wrapper {
  height: 50%;
}  

#example img {
  height: 100%;
}

.flex-c#image {
  align-items: stretch;
}

.flex-c#text {
  align-items: flex-start;
}

#example .centered {
  height: 15%;
  position: absolute;
  top: 40%;
  z-index: 1;
}